body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 13px !important;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #181c32;
  background-color: #ffffff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
  height: 100vh;
  width: 82%;
  background-color: #dddddd;
  float: right;
}
p {
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.title {
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
}
.card {
  background-color: white;
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 8px;
  padding-left: 23px;
  padding-right: 23px;
  margin-top: 10px;
}
.icons {
  width: 22px;
  margin-left: 15px;
  float: right;
}
.filtersdiv {
  background-color: #ddd;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 20px;
  padding: 3px;
}
.filtre {
  display: flex;
  justify-content: center;
  margin-right: 0.1%;
  margin-left: 0.1% !important;
  border-radius: 20px;
}
.filtre:hover {
  background-color: white;
}
.selected {
  background-color: white;
}
.text {
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
}

a {
  color: black;
  text-decoration: none;
}
.mphoto {
  background-color: #ddd;
  width: 24px;
  padding: 13px;
  text-align: center;
  border-radius: 50%;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  margin-left: 2px;
  margin-right: 20px;
}
.member {
  display: flex;
  margin-bottom: 9px;
  border-radius: 20px;
  padding: 4px;
}
.member:hover {
  background-color: #02a5dc;
}
.mname {
  line-height: 0px;
  margin-bottom: 24px;
  font-size: 13px;
  font-weight: 900;
}
.mmail {
  line-height: 0px;
  margin-bottom: 0px;
  font-size: 12px;
  color: rgb(110, 106, 106);
}
.mdep {
  background-color: green;
  color: #ffffff;
  padding: 8px;
  width: 130px;
  text-align: center;
  border-radius: 20px;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 2px;
}
